[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
opencv-python = "*"
numpy = "*"
falcon = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
